*{
    box-sizing: border-box;  
    margin: 0;
    padding: 0;

}

body{
    height: 100vh;
    width: 100vw;
    background: white;
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    padding:20px;
}

section {
    
}
.a{
    height: 33%;
    width: 100%;
    border: 4px solid black;
    background: white;
    margin-bottom: 20px;
}

.b{
    height: 33%;
    width: 100%;
    border: 4px dotted black;
    margin-bottom: 20px;
    padding: 40px;

}
.squ{
    height: 100%;
    width: 100%;
    background: rgb(250, 231, 207);
    box-shadow: 6px 6px 6px rgb(61, 61, 61);
}


.c{
    height: 33%;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.hi{
    height: 100%;
    width: 50%;
    box-shadow: 1px 1px 5px gray;
    background: white;
    color: purple;
    justify-content: center;
    align-items: center;
    display:flex;
    flex-direction: column;
    letter-spacing: 10px;
}
